<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleTempMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_ARTICLETEMP(
			ARTICLE_CODE,	
			ARTICLE_NAME,	
			AUTHOR,	
			FEE_TYPE,	
			PAY_WAY,	
			IS_HOT,	
			SUMMARY,
			LABEL,
			CREATE_TIME	
		) values (
			#{ARTICLE_CODE},	
			#{ARTICLE_NAME},	
			#{AUTHOR},	
			#{FEE_TYPE},	
			#{PAY_WAY},	
			#{IS_HOT},	
			#{SUMMARY},	
			#{LABEL},
			#{CREATE_TIME}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_ARTICLETEMP
		where 
			ARTICLE_IDTEMP = #{ARTICLE_IDTEMP}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_ARTICLETEMP
			set 
				ARTICLE_CODE = #{ARTICLE_CODE},
				ARTICLE_NAME = #{ARTICLE_NAME},
				AUTHOR = #{AUTHOR},
				FEE_TYPE = #{FEE_TYPE},
				PAY_WAY = #{PAY_WAY},
				IS_HOT = #{IS_HOT},
				SUMMARY = #{SUMMARY},
				LABEL = #{LABEL}
			where 
				ARTICLE_IDTEMP = #{ARTICLE_IDTEMP}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			ARTICLE_IDTEMP,
			ARTICLE_CODE,	
			ARTICLE_NAME,	
			AUTHOR,	
			FEE_TYPE,	
			PAY_WAY,	
			IS_HOT,	
			SUMMARY,
			LABEL,
			CREATE_TIME	
		from 
			TB_ARTICLETEMP 
		where 
			ARTICLE_IDTEMP = #{ARTICLE_IDTEMP}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.ARTICLE_IDTEMP,	
				a.ARTICLE_CODE,	
				a.ARTICLE_NAME,	
				a.AUTHOR,	
				a.FEE_TYPE,	
				a.PAY_WAY,	
				a.IS_HOT,	
				a.SUMMARY,	
				a.LABEL
		from 
				TB_ARTICLETEMP a
				ORDER BY a.ARTICLE_CODE
	</select>
	
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.ARTICLE_IDTEMP,	
				a.ARTICLE_CODE,	
				a.ARTICLE_NAME,	
				a.AUTHOR,	
				a.FEE_TYPE,	
				a.PAY_WAY,	
				a.PAY_CONSUMES,	
				a.IS_HOT,	
				a.SUMMARY,	
				a.LABEL,
				a.CREATE_TIME
		from 
				TB_ARTICLETEMP a
	</select>
</mapper>