<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExtensionConnectMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_EXTENSION_CONNECT(
			EXTENSION_CONTENT_ID,	
			EXTENSION_URL,	
			CREATE_TIME	
		) values (
			#{EXTENSION_CONTENT_ID},	
			#{EXTENSION_URL},	
			#{CREATE_TIME}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_EXTENSION_CONNECT
		where 
			EXTENSION_CONNECT_ID = #{EXTENSION_CONNECT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_EXTENSION_CONNECT
			set 
				EXTENSION_CONTENT_ID = #{EXTENSION_CONTENT_ID},
				EXTENSION_URL = #{EXTENSION_URL},
				CREATE_TIME = #{CREATE_TIME},
				FOLLOW = #{FOLLOW},
				GUIDE = #{GUIDE},
				RECHARGE = #{RECHARGE},
				RECHARGE_TIMES = #{RECHARGE_TIMES},
				RECHARGE_PEOPLES = #{RECHARGE_PEOPLES},
				PROFIT = #{PROFIT}
			where 
				EXTENSION_CONNECT_ID = #{EXTENSION_CONNECT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			EXTENSION_CONNECT_ID,	
			EXTENSION_CONTENT_ID,	
			EXTENSION_URL,	
			CREATE_TIME,	
			FOLLOW,	
			GUIDE,	
			RECHARGE,	
			RECHARGE_TIMES,	
			RECHARGE_PEOPLES,	
			PROFIT
		from 
			TB_EXTENSION_CONNECT
		where 
			EXTENSION_CONNECT_ID = #{EXTENSION_CONNECT_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.EXTENSION_CONNECT_ID,	
				a.EXTENSION_CONTENT_ID,	
				a.EXTENSION_URL,	
				a.CREATE_TIME,	
				a.FOLLOW,	
				a.GUIDE,	
				a.RECHARGE,	
				a.RECHARGE_TIMES,	
				a.RECHARGE_PEOPLES,	
				a.PROFIT
		from 
				TB_EXTENSION_CONNECT a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.EXTENSION_CONNECT_ID,	
				a.EXTENSION_CONTENT_ID,	
				a.EXTENSION_URL,	
				a.CREATE_TIME,	
				a.FOLLOW,	
				a.GUIDE,	
				a.RECHARGE,	
				a.RECHARGE_TIMES,	
				a.RECHARGE_PEOPLES,	
				a.PROFIT
		from 
				TB_EXTENSION_CONNECT a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_EXTENSION_CONNECT
		where 
			EXTENSION_CONNECT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 通过推广链接获取数据-->
	<select id="findByURL" parameterType="pd" resultType="pd">
		select 
			EXTENSION_CONNECT_ID,	
			EXTENSION_CONTENT_ID,	
			EXTENSION_URL,	
			CREATE_TIME,	
			FOLLOW,	
			GUIDE,	
			RECHARGE,	
			RECHARGE_TIMES,	
			RECHARGE_PEOPLES,	
			PROFIT
		from 
			TB_EXTENSION_CONNECT
		where 
			EXTENSION_URL = #{EXTENSION_URL}
	</select>
	
	<!-- 使用推广链接匹配-->
	<select id="findVisitByURL" parameterType="pd" resultType="pd">
		select 
			EXTENSION_CONNECT_ID,	
			EXTENSION_CONTENT_ID,	
			EXTENSION_URL,	
			CREATE_TIME,	
			FOLLOW,	
			GUIDE,	
			RECHARGE,	
			RECHARGE_TIMES,	
			RECHARGE_PEOPLES,	
			PROFIT
		from 
			TB_EXTENSION_CONNECT
		where 
			EXTENSION_URL LIKE CONCAT(CONCAT('%', #{c}),'%')
			or
			EXTENSION_URL LIKE CONCAT(CONCAT('%', #{tz}),'%')
	</select>
	
	<!-- 引导人数+1 -->
	<update id="guideeditup" parameterType="pd">
		update  TB_EXTENSION_CONNECT
			set 
				GUIDE = GUIDE+1
			where 
				EXTENSION_CONNECT_ID = #{EXTENSION_CONNECT_ID}
	</update>
	
</mapper>