.fileLDe{ margin-left: 30px; width: 320px; padding-top: 73px; height: 496px; overflow-y:scroll ; background: url(../images/myPic66.png) left top no-repeat;}
.fileLDe h1{ font-weight: normal; font-size: 16px; color: #333333; height: 36px; line-height: 36px; width: 280px; margin: 0 auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.fileLDeImg{ margin: 0 auto; width: 278px; height: 154px; border: 1px solid #cccccc;}
.fileLDeImg img{ display: block; width: 278px; height: 154px;}
.fileLDeAll{ width: 278px; padding-top: 18px; margin: 20px auto 0; border: 1px solid #33b3eb; position: relative;}
.fileLDeAll h2{ font-weight: normal; font-size: 12px; color: #ffffff; height: 26px; line-height: 26px; width: 221px; background: url(../images/myPic72.png) left top no-repeat; position: absolute; left: 28px; top: -12px;}
.fileLDeAll p{ font-size: 12px; color: #333333; line-height: 20px; text-align: left; margin-left: 11px; margin-top: 5px; width: 260px;}
.fileLDeBtn{ width: 280px; height: 30px; line-height: 30px; margin: 10px auto 0; font-size: 12px; color: #ffffff; background: #32b5e9; border-radius: 3px; cursor: pointer;}























