/*数字阅读*/
.publicTop{ width: 100%; height: 60px; background: #f37526;}
.publicTopL{ float: left; font-size: 16px; color: #ffffff; height: 60px; line-height: 60px; padding-left: 68px; background: url(../images/myPic1.png) left center no-repeat;}
.publicTopR{ float: right;}
.publicTopR p{ font-size: 14px; color: #ffffff; height: 60px; line-height: 60px; float: left; margin-right: 23px;}
.publicTopR a{ display: inline-block; font-size: 14px; color: #ffffff; height: 60px; line-height: 60px; float: left; cursor: pointer;}
.publicDe{ margin: 20px auto 0;}
.publicDeL{ float: left; width: 160px; background: #ffffff; padding-bottom: 200px;}
.publicDeL ul li{ padding-top: 10px;}
.publicDeL ul li p{ height: 31px; border-left: 2px solid #ffffff; position: relative;}
.publicDeL ul li p.publicDeLActp{ border-left: 2px solid #f37526;}
.publicDeL ul li p a{ display: inline-block; font-size: 14px; color: #333333; height: 31px; line-height: 31px; text-align: left; padding-left: 42px; width: 115px; position: absolute; left: 0; top: 0; z-index: 10;}
.publicDeL ul li p img{ position: absolute; top: 9px; right: 10px;}
.publicDeL ul li p.publicDeLActp img{ top: 12px; right: 12px;}
.publicDeL1{ background: url(../images/myPic3.png) no-repeat; background-position: 18px 8px;}
.publicDeL2{ background: url(../images/myPic2.png) no-repeat; background-position: 18px 8px;}
.publicDeL3{ background: url(../images/myPic4.png) no-repeat; background-position: 18px 8px;}
.publicDeL4{ background: url(../images/myPic5.png) no-repeat; background-position: 17px 10px;}
.publicDeL5{ background: url(../images/myPic7.png) no-repeat; background-position: 18px 9px;}
.publicDeL6{ background: url(../images/myPic8.png) no-repeat; background-position: 17px 10px;}
.publicDeL7{ background: url(../images/myPic9.png) no-repeat; background-position: 17px 10px;}
.publicDeL ul li div{ display: none; margin-top: 10px; width: 100%; background: #f8fbfd;}
.publicDeL ul li div a{ display: inline-block; font-size: 14px; color: #666666; height: 40px; line-height: 40px; width: 100%;}
.publicDeL ul li div a.publicDeLa{ color: #f37427;}
.publicDeR{ float: right; width: 1020px; overflow-x: scroll;}

/*弹框*/
/*基础设置（自动回复）内容*/
.automaticReplyAlert{ width: 560px; padding-bottom: 12px; background: #f7f7f7;}
.automaticReplyDe{ width: 100%; padding: 22px 0 12px; background: #ffffff; height: 253px; overflow-y: scroll;}
.automaticReplyDe h2{ font-weight: normal; font-size: 14px; color: #666666; line-height: 28px; text-align: left; margin-left: 30px;}
.automaticReplyDe p{ font-size: 14px; color: #666666; line-height: 28px; text-align: left; margin-left: 30px; width: 490px; text-indent: 28px;}
.automaticReplyBtn{ font-size: 14px; color: #ffffff; height: 36px; line-height: 36px; width: 120px; border-radius: 3px; background: #f17526; margin: 12px auto 0; cursor: pointer;}
/*基础设置（自动回复）新增*/
.automaticReplyPlusAlert{ width: 560px; padding-bottom: 12px; background: #f7f7f7;}
.automaticReplyPlusDe{ width: 100%; padding: 20px 0; background: #ffffff;}
.automaticReplyPlusInp span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; width: 100px; text-align: right; float: left;}
.automaticReplyPlusInp div{ width: 408px; height: 34px; border: 1px solid #e4e4e4; float: left; margin-left: 13px; position: relative;}
.automaticReplyPlusInp div input{ font-size: 12px; color: #323232; height: 20px; line-height: 20px; float: left; margin-left: 11px; margin-top: 7px; width: 380px;}
.automaticReplyPlusInp div p{ font-size: 12px; color: #cccccc; height: 34px; line-height: 34px; position: absolute; left: 0; top: 0; padding-left: 11px; width: 390px; text-align: left;}
.automaticReplyPlusTex{ margin-top: 20px;}
.automaticReplyPlusTex span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; width: 100px; text-align: right; float: left;}
.automaticReplyPlusTex div{ width: 408px; height: 78px; border: 1px solid #e4e4e4; float: left; margin-left: 13px; position: relative;}
.automaticReplyPlusTex div textarea{ font-size: 12px; color: #323232; line-height: 20px; height: 60px; float: left; margin-left: 11px; margin-top: 6px; width: 380px;}
.automaticReplyPlusTex div p{ font-size: 12px; color: #cccccc; height: 78px; line-height: 32px; position: absolute; left: 0; top: 0; padding-left: 11px; width: 390px; text-align: left;}
.automaticReplyPlusSel{ margin-top: 20px;}
.automaticReplyPlusSel span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; width: 100px; text-align: right; float: left;}
.automaticReplyPlusSel div{ float: left; margin-left: 13px; width: 235px; height: 34px; border: 1px solid #cccccc; border-radius: 3px; background: #f5f5f5;}
.automaticReplyPlusSel div input{ font-size: 14px; color: #666666; height: 20px; line-height: 20px; float: left; margin-left: 19px; margin-top: 7px; width: 180px;}
.automaticReplyPlusSel div img{ float: right; margin-right: 19px; margin-top: 14px;}
/*文案标题推广链接*/
.extensionLinkAlert{ width: 560px; padding-bottom: 12px; background: #f7f7f7;}
.extensionLinkDe{ width: 100%; padding: 11px 0 20px; background: #ffffff;}
.extensionLinkDeT span{ display: inline-block; font-size: 12px; color: #666666; height: 56px; line-height: 56px; text-align: right; width: 100px; float: left;}
.extensionLinkDeT p{ font-size: 12px; color: #999999; height: 56px; line-height: 56px; float: left; margin-left: 10px;}
.extensionLinkDeInp{ margin-top: 9px;}
.extensionLinkDeInp span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; text-align: right; width: 100px; float: left;}
.extensionLinkDeInp div{ width: 408px; height: 34px; border: 1px solid #e4e4e4; float: left; margin-left: 13px; position: relative;}
.extensionLinkDeInp div input{ font-size: 12px; color: #323232; height: 20px; line-height: 20px; float: left; margin-left: 10px; margin-top: 7px; width: 380px;}
.extensionLinkDeInp div p{ font-size: 12px; color: #cccccc; height: 34px; line-height: 34px; position: absolute; left: 0; top: 0; padding-left: 10px; width: 390px; text-align: left;}
.extensionLinkDeAudio{ margin-top: 20px;}
.extensionLinkDeAudio span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; text-align: right; width: 100px; float: left;}
.extensionLinkDeAudio div{ float: left; margin-left: 10px;}
.extensionLinkDeAudio div i{ font-style: normal; display: inline-block; font-size: 12px; color: #999999; height: 36px; line-height: 36px; float: left; margin-right: 30px; padding-left: 27px; background: url(../images/myPic74.png) left center no-repeat;}
.extensionLinkDeAudio div i.extensionLinkDeAudioAct{ background: url(../images/myPic75.png) left center no-repeat;}
.extensionLinkDeAudio a{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; float: right; margin-right: 40px; padding-left: 23px; background: url(../images/myPic76.png) left center no-repeat;}
.extensionLinkDeSel{ margin-top: 20px;}
.extensionLinkDeSel span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; text-align: right; width: 100px; float: left;}
.extensionLinkDeSel div{ float: left; margin-left: 10px; width: 148px; height: 34px; border: 1px solid #e4e4e4; position: relative;}
.extensionLinkDeSel div p{ font-size: 12px; color: #666666; height: 34px; line-height: 34px; float: left; margin-left: 10px;}
.extensionLinkDeSel div img{ float: right; margin-top: 15px; margin-right: 11px;}
.extensionLinkDeSel div ul{ display: none; width: 100%; border: 1px solid #cccccc; position: absolute; left: -1px; top: 34px; background: #fff; padding: 10px 0 7px 0; z-index: 5;}
.extensionLinkDeSel div ul li{ text-align: left; font-size: 12px; color: #666666; height: 30px; line-height: 30px; padding-left: 10px;}
.extensionLinkDeSel div ul li:hover{ color: #f37427;}
/*账户信息（财务管理）提现*/
.applicatePresentateAlert{ width: 560px; padding-bottom: 12px; background: #f7f7f7;}
.applicatePresentateDe{ width: 100%; padding: 20px 0 30px; background: #ffffff;}
.applicatePresentateDeInp span{ display: inline-block; font-size: 12px; color: #666666; height: 36px; line-height: 36px; float: left; text-align: right; width: 100px;}
.applicatePresentateDeInp div{ width: 408px; height: 34px; border: 1px solid #e4e4e4; float: left; margin-left: 13px; position: relative;}
.applicatePresentateDeInp div input{ font-size: 12px; color: #323232; height: 20px; line-height: 20px; float: left; margin-left: 11px; margin-top: 7px; width: 260px;}
.applicatePresentateDeInp div p{ font-size: 12px; color: #cccccc; height: 34px; line-height: 34px; position: absolute; left: 0; top: 0; padding-left: 11px; width: 270px; text-align: left;}
.applicatePresentateDeInp div i{ font-style: normal; display: inline-block; font-size: 12px; color: #999999; height: 34px; line-height: 34px; float: right; margin-right: 10px;}
.applicatePresentateDeCard span{ display: inline-block; font-size: 12px; color: #666666; height: 78px; line-height: 78px; float: left; text-align: right; width: 100px;}
.applicatePresentateDeCard i{ font-style: normal; display: inline-block; font-size: 12px; color: #999999; height: 78px; line-height: 78px; float: left; margin-left: 10px;}
.applicatePresentateDeCard p{ font-size: 12px; color: #999999; height: 78px; line-height: 78px; float: right; margin-right: 37px; width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.applicatePresentateDeRemind span{ display: inline-block; font-size: 12px; color: #666666; height: 34px; line-height: 34px; float: left; text-align: right; width: 100px;}
.applicatePresentateDeRemind p{ font-size: 12px; color: #999999; height: 34px; line-height: 34px; float: left; margin-left: 10px;}








